html, body {
  margin: 15;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "HarmonyOS", "Clear Sans", "Helvetica Neue", "Microsoft Yahei",  Arial, sans-serif;
  font-size: 20px; 
}

.Diffculty span{
	font-family: "Revue", "Clear Sans", "Helvetica Neue", "Microsoft Yahei",  Arial, sans-serif;
	font-size: 24px;
	color: #fefefe;
}

.Easy_Mode{
	text-shadow: 0px 0px 7px #42a158;
}

.Normal_Mode{
	text-shadow: 0px 0px 7px #0054b2;
}

.Hard_Mode{
	text-shadow: 0px 0px 7px #0009c5;
}

.Lunatic_Mode{
	text-shadow: 0px 0px 7px #9700a0;
}

.OverDrive_Mode{
	text-shadow: 0px 0px 7px #bd0000;
}

.THName{
	font-family: "NewCinemaB", "HarmonyOS", "Clear Sans", "Helvetica Neue", "Microsoft Yahei",  Arial, sans-serif;
}

.current-status, .game-explanation {
  margin-top: 2px !important;
  }

.game-container .game-message a {
  display: inline-block;
  background: rgba(255,255,255,0);
  border-radius: 3px;
  font-size: 17px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: #776e65;
  height: 40px;
  line-height: 42px;
  margin-left: 9px; 
  -webkit-animation: pop-on 600ms ease-in;
  -moz-animation: pop-on 600ms ease-in;
  animation: pop-on 600ms ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; 
  animation-delay: 2000ms;
  -webkit-animation-delay: 2000ms;
}

.game-container .game-message .keep-playing-button {
  -webkit-animation: pop-on 600ms ease-in;
  -moz-animation: pop-on 600ms ease-in;
  animation: pop-on 600ms ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; 
  animation-delay: 1700ms;
  -webkit-animation-delay: 1700ms;
}

@-webkit-keyframes pop-on{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@-moz-keyframes pop-on{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes pop-on{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.above-game:after {
  content: "";
  display: block;
  clear: both; 
}

.heading:after {
  content: "";
  display: block;
  clear: both; 
}

.score-container:after {
  content: "得分"; 
}

.best-container:after {
  content: "最高得分"; 
}

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; 
}

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; 
}

.restart-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: right;
}

.game-explanation {
  margin-top: 50px; 
}

.score{
  font-size: 25px;
  margin-top: 15px;
}

.score span{
  font-size: 23px;
  color: #ff6600;
}

.game-container .game-message.game-won div.score {
  opacity: 0;
}

.game-container .game-message.game-won span.score {
  opacity: 0;
}

.game-container .game-message p {
  font-size: 30px;
  height: 60px;
  line-height: 40px;
  margin-top: 222px; 
}

@media screen and (max-width: 480px) {
  .game-container .game-message p{
    font-size: 22px !important; 
  } 

  div.score{
    font-size: 19px;
    margin-top: 30px;
  }

  .score span{
    font-size: 18px;
  }

  html, body {
    font-size: 15px; 
  }

  body {
    margin: 20px 0;
    padding: 0 20px; 
  }

  h1.title {
    font-size: 27px;
    margin-top: 15px; 
  }
  
  .restart-button {
    width: 42%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px;
  }

   .heading {
    margin-bottom: 10px; 
  }

  .game-intro {
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; 
  }

  .score-container .score-addition, .best-container .score-addition {
    font-size: 15px;
  }

  .score-container, .best-container {
    font-size: 15px;
  }
}

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; 
}

.tile .tile-inner {
  border-radius: 3px;
  background: #fefefe;
  text-align: center;
  font-weight: bold;
  z-index: 10;
}

.tile .tile-inner {
  border-radius: 3px;
  background: #fefefe;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 55px; 
}

.tile.tile-65536 .tile-inner {
  color: #f9f6f2;
  background: #1e22ff;
  font-size: 28px; 
}
  @media screen and (max-width: 520px) {
    .tile.tile-super .tile-inner {
      font-size: 15px; 
    } 
  }

  .tile.tile-131072 .tile-inner {
    color: #f9f6f2;
    background: #2395ff;
    font-size: 28px; 
  }
    @media screen and (max-width: 520px) {
      .tile.tile-super .tile-inner {
        font-size: 15px; 
      } 
    }
    .tile.tile-super .tile-inner {
      color: #f9f6f2;
      background: #3c3a32;
      font-size: 28px; }
      @media screen and (max-width: 520px) {
        .tile.tile-super .tile-inner {
          font-size: 15px; } 
        }